<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBr08aNMS3_g8clrnLC2quA7kyXIGsigCw</string>
	<key>GCM_SENDER_ID</key>
	<string>328017867857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.meedu.flutterFirebase2024.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebase2024-3088f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebase2024-3088f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328017867857:ios:e9845c487114e55d1d7470</string>
</dict>
</plist>